# 복사본 local.env는 커밋하지 않습니다.
DEPLOY_HOST=gnuboard7-local
DEPLOY_MODE=install
G7_REMOTE_ROOT=/var/www/gnuboard7
PHP_BIN=php
REMOTE_ARTIFACT_DIR=/tmp/jwsoft-tiptap-editor
SMOKE_URL=https://g7-editor.test/
